/* app.component.css */
*{
    font-family: Arial;
  }
  body {
   
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0);
    
    width: 35%;
  }
  
  .header {
    color:#0066B3;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blue-leaf-icon {
    width: 100px;
    height: 60px;
    margin-right: 10px;
  }
  
  
  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0.5px ridge grey;
    height: 40px;
  }
  
  input[type="submit"] {
    background-color: #0066B3;
    color: white;
    cursor: pointer;
  }
  
  .forgot-password-link {
    color: #0066B3;
    text-decoration: underline;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
  }
  
  .text-danger {
    color: #991b1b;
    margin-top: 5px;
  }
  
  .password-container {
    position: relative;
  }
  
  .password-input {
    width: calc(80% - 40px);
    padding-right: 40px;
  }
  
  .eye-icon {
    position: absolute;
    top: 70%;
    right: 6%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .password-input::-ms-reveal,
  .password-input::-ms-clear {
    display: none;
  }
  
  .password-input[type="password"] {
    -moz-appearance: textfield;
  }
  
  .password-input[type="password"]::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
  
  .login-container {
            max-width: 400px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
  
        .logo-container {
            text-align: center;
            margin-bottom: 20px;
        }
  
        .logo {
            width: 50px; /* Adjust the width as needed */
            height: auto;
            display: inline-block;
            margin-right: 10px;
        }
  
        .text-container {
            text-align: center;
            margin-bottom: 0px;
        }
  
        .text {
            font-size: 24px;
            color: #333;
        }
  
        .footprint {
            font-size: 14px;
            color: #666;
        }
        input[type="text"]:focus,
  input[type="password"]:focus {
    border: 2px solid #0066B3; 
    outline: none;
   
  }
  .forgot-password-container{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
  input[type="radio"] {
    margin-left:0px
    }
  