<!-- app.component.html -->
<form [formGroup]="resetForm">
    <div class="container">
      <div class="item">
        <img src="https://cached.imagescaler.hbpl.co.uk/resize/scaleWidth/952/cached.offlinehbpl.hbpl.co.uk/news/SUC/20220927102358_hcltech-copy-CUS.jpg" alt="Blue Leaf Icon" class="blue-leaf-icon">
        <h1 class="header">
          <div class="text-container">
            <div class="text">CARBON</div>
            <div class="footprint">FOOTPRINT</div>
          </div>
        </h1>
  
        <div>
          <div class="password-container">
            <p>Current Password</p>
            <input [type]="showPassword?'text':'password'" placeholder="Password" formControlName="password" class="password-input" />
            <span class="eye-icon" (click)="togglePasswordVisibility()">
                          {{ showPassword ? '👁️' : '👁️‍🗨️' }}
                      </span>
          </div>
          <div *ngIf="resetForm.get('password')?.hasError('required') && resetForm.get('password')?.touched"
            class="text-danger">
            Please enter your password. 
          </div>
        </div>

        <div>
          <div class="password-container">
            <p>New Password</p>
            <input [type]="showPassword?'text':'password'" placeholder="Password" formControlName="newPassword" class="password-input" />
            <span class="eye-icon" (click)="togglePasswordVisibility()">
                          {{ showPassword ? '👁️' : '👁️‍🗨️' }}
                      </span>
          </div>
          <div *ngIf="resetForm.get('newPassword')?.hasError('required') && resetForm.get('newPassword')?.touched"
            class="text-danger">
            Please enter new password. 
          </div>
        </div>
  
        <div>
          <div class="password-container">
            <p>Confirm Password</p>
            <input [type]="showPassword?'text':'password'" placeholder="Confirm Password" formControlName="password" class="password-input" />
            <span class="eye-icon" (click)="togglePasswordVisibility()">
                          {{ showPassword ? '👁️' : '👁️‍🗨️' }}
                      </span>
          </div>
          <div *ngIf="resetForm.get('password')?.hasError('required') && resetForm.get('password')?.touched"
            class="text-danger">
            Please enter confirm password. 
          </div>
        </div>
  
        <div>
          <input type="submit" value="Reset" />
        </div>
      </div>
    </div>
  </form>