<div class="container">
  <div class="item">
    <h1 class="header">
      <img src="https://cdn-icons-png.flaticon.com/512/6959/6959474.png" alt="Blue Leaf Icon" class="blue-leaf-icon">
      <div class="text-container">
        <div class="text">CARBON</div>
        <div class="footprint">FOOTPRINT</div>
      </div>
    </h1>

    <div>
      <h3 class="reset-head">Reset your password</h3>
      <h5 class="reset-sub">Type in your registered email address to reset password</h5>
      <p>User Name</p>
      <input type="text" placeholder="User Name" />
      <!-- <div *ngIf="(loginForm.get('username')?.hasError('required') || loginForm.get('username')?.hasError('invalidEmail')) && loginForm.get('username')?.touched"
            class="text-danger">
            Please enter the valid email.
          </div> -->
    </div>
    <div>
      <input style="width:20%" type="submit" value="NEXT" />
      <br>
      <br>
      <input [routerLink]="'/login'" style="background-color: black;color: white;" type="submit" value="BACK TO LOGIN" />
    </div>
  </div>
</div>